project:
  type: website
  execute-dir: project
  output-dir: docs
  render: 
    - "*.qmd"

execute:
  freeze: auto

website:
  title: "SciComp Workshop - Collaborative Coding with GitHub"
  favicon: images/logos/hex_scicomptools.png
  repo-url: https://github.com/lter/workshop-github
  repo-actions: [issue]
  twitter-card: true
  sidebar:
    style: "docked"
    background: secondary
    search: true
    contents: 
      - text: "Workshop Home"
        href: index.qmd
      - text: "General Background"
        contents: 
          - motivations.qmd
          - git-background.qmd
      - section: "Using GitHub..."
        contents:
          - text: "With a Browser"
            href: github.qmd
          - text: "With an IDE"
            href: ide.qmd
      - section: "Advanced Topics"
        contents: 
          - conflicts.qmd
          - branches.qmd
          - forks.qmd
          - git_ignore.qmd
      - section: "Project Management"
        contents: 
          - issues.qmd
          - milestones.qmd
          - projects.qmd
      - section: "Other Topics"
        contents:
          - portfolio.qmd
          - readmes.qmd
          - server.qmd
  navbar:
    background: primary
    right:
      - text: "SciComp Team"
        menu:
          - href: https://lter.github.io/scicomp/
            text: "Home"
          - href: https://lter.github.io/scicomp/staff.html
            text: "People"
      - icon: github
        href: https://github.com/lter/workshop-github
  page-footer:
    center: "Copyright 2024, NCEAS"
    background: secondary
  margin-footer: |
    <img src="images/logos/nceas.png" alt="Logo for NCEAS (National Center for Ecological Analysis and Synthesis)" width="40%"/>
    <img src="images/logos/lter.png" alt="Logo for the LTER Network Office" width="40%"/>

format:
  html:
    theme:
       light: _extensions/lter/lter_scss-theme/theme_lter-edu-light.scss
       dark: _extensions/lter/lter_scss-theme/theme_lter-edu-dark.scss
    mainfont: Open Sans
    toc: true
    link-external-newwindow: true
    link-external-icon: false
    code-annotations: hover
    